* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(52, 122, 19);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	background-color: rgb(177, 231, 49);
	border: 3px solid rgb(0, 0, 0);
	box-sizing: content-box;
}

.cell {
	width: 60px;
	height: 60px;
	border: 3px solid rgb(0, 0, 0);
	cursor: pointer;
}

.clicked {
	background-color: aqua;
}
